*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #d428eb;
    color:#000000;
    height:100vh;
    font-family: sans-serif;
}

.container{
    background-color: #d428eb;
    width:100%;
    min-height:100vh;
    background:linear-gradient(135deg , #153677, #4e0857);
    padding:10px;
}
.todo-app{
    width:100%;
    max-width:540px;
    background:#FFF;
    margin:100px auto 20px;
    padding:40px 30px 70px;
    border-radius: 10px;

}

.todo-app h2{
    color:#002657;
    display: flex;
    align-items:center;
    margin-bottom: 20px;
}

.todo-app h2 img{
    width:30px;
    margin-left:10px;

}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex:1;
    outline:none;
    border: none;
    background: transparent;
    padding:10px;
}

button{
    outline:none;
    border: none;
    padding:16px 50px;
    background:#FF5945;
    Color:#fff;
    cursor: pointer;
    border-radius: 10px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding:12px 8px 12px 50px;
    cursor:pointer;
     user-select: none;
     position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height:28px;
    width:28px;
    border-radius: 50%;
    background-image:url(images/unchecked.png);
    background-size:cover;
    background-position: center;
    top:12px;
    left:8px;

}
ul li.checked{
    color:rgb(255, 30, 0);
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position:absolute;
    right:0px;
    top:5px;
    width:40px;
    height:40px;
    font-size: 22px;
    line-height: 40px;
    color:#555;
    text-align: center;
}
ul li span:hover{
    background:#edeef0;
}







    
    
    
    

